.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 265px;
  height: 1.2em;
  white-space: nowrap;
}

.cut {
  max-height: 300px;
  overflow-y: scroll;
}

.checkout {
  height: 270px;
}

.cut::-webkit-scrollbar {
  display: none;
}
