.back {
    background-color: #13ac84;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #13ac84, #1fb48a, #5cc4a4, #74ccb6, #74ccb6);
}

.image-product {
    max-height: 450px;
    overflow-y: scroll;
}

.image-product::-webkit-scrollbar {
    display: none;
}

.cut {
    max-height: 190px;
    overflow-y: scroll;
}

.cut::-webkit-scrollbar {
    display: none;
}

.list-product {
    max-height: 500px;
    overflow-y: scroll;
}

.list-product::-webkit-scrollbar {
    display: none;
}